In [13]:
import numpy as np
import pandas as pd

In [110]:
colnames = ['Age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'income']
df = pd.read_csv('adultdata.csv', names=colnames, header=None)
df.head()

,Age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [111]:
print(df['income'].value_counts())

 <=50K    24720
 >50K      7841
Name: income, dtype: int64

In [112]:
#new_income = []
#for income in df['income']:
    #new_income.append(income.strip())
#df['income'] = new_income
df['income'] = [0 if x == '<=50K' else 1 for x in df['income'].str.strip()]

In [113]:
print(df['income'].value_counts())

0    24720
1     7841
Name: income, dtype: int64

In [114]:
x = df.drop(labels='income', axis=1)
y = df.income

In [115]:
#another option one hot encoder
print(pd.get_dummies(x['education']).head())

    10th   11th   12th   1st-4th   5th-6th   7th-8th   9th   Assoc-acdm  \
0      0      0      0         0         0         0     0            0
1      0      0      0         0         0         0     0            0
2      0      0      0         0         0         0     0            0
3      0      1      0         0         0         0     0            0
4      0      0      0         0         0         0     0            0

    Assoc-voc   Bachelors   Doctorate   HS-grad   Masters   Preschool  \
0           0           1           0         0         0           0
1           0           1           0         0         0           0
2           0           0           0         1         0           0
3           0           0           0         0         0           0
4           0           1           0         0         0           0

    Prof-school   Some-college
0             0              0
1             0              0
2             0              0
3             0              0
4             0              0

In [116]:
for col in x.columns:
    if x[col].dtypes == 'object':
        unique = len(x[col].unique())
        print(f'{col} has {unique} values')

workclass has 9 values
education has 16 values
marital_status has 7 values
occupation has 15 values
relationship has 6 values
race has 5 values
sex has 2 values
native_country has 42 values

In [117]:
print(x['native_country'].value_counts().sort_values(ascending=False))

 United-States                 29170
 Mexico                          643
 ?                               583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 France                           29
 Greece                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Trinadad&Tobago                  19
 Cambodia                         19
 Laos                             18
 Thailand                         18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Honduras                         13
 Hungary                          13
 Scotland                         12
 Holand-Netherlands                1
Name: native_country, dtype: int64

In [118]:
x['native_country'] = ['United States' if x == 'United-States' else 'Other' for x in x['native_country'].str.strip()]
print(x['native_country'].value_counts().sort_values(ascending=False))

United States    29170
Other             3391
Name: native_country, dtype: int64

In [119]:
dummy_list = ['workclass', 'education', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'native_country']
def to_dummy(df, dummy_list):
    for x in dummy_list:
        dummies = pd.get_dummies(df[x], prefix=x, dummy_na=False)
        df = df.drop(labels=x, axis=1)
        df = pd.concat([df, dummies], axis=1)
    return df

In [120]:
x = to_dummy(x, dummy_list)
print(x.head())

   Age  fnlwgt  education_num  capital_gain  capital_loss  hours_per_week  \
0   39   77516             13          2174             0              40
1   50   83311             13             0             0              13
2   38  215646              9             0             0              40
3   53  234721              7             0             0              40
4   28  338409             13             0             0              40

   workclass_ ?  workclass_ Federal-gov  workclass_ Local-gov  \
0             0                       0                     0
1             0                       0                     0
2             0                       0                     0
3             0                       0                     0
4             0                       0                     0

   workclass_ Never-worked  ...  relationship_ Wife  race_ Amer-Indian-Eskimo  \
0                        0  ...                   0                         0
1                        0  ...                   0                         0
2                        0  ...                   0                         0
3                        0  ...                   0                         0
4                        0  ...                   1                         0

   race_ Asian-Pac-Islander  race_ Black  race_ Other  race_ White  \
0                         0            0            0            1
1                         0            0            0            1
2                         0            0            0            1
3                         0            1            0            0
4                         0            1            0            0

   sex_ Female  sex_ Male  native_country_Other  native_country_United States
0            0          1                     0                             1
1            0          1                     0                             1
2            0          1                     0                             1
3            0          1                     0                             1
4            1          0                     1                             0

[5 rows x 68 columns]

AttributeError: Can only use .str accessor with string values!